---
pagination:
  data: cms.articles
  size: 1
  alias: article
permalink: "/{{ article.urlPath }}/"
layout: base.njk
eleventyComputed:
  title: "{{ article.seo.title }}"
---
<article class="article article-{{ article.postTypeSlug }}">
  <h1>{{ article.title }}</h1>
  <p class="excerpt">{{ article.excerpt }}</p>
  {% renderBlocks article.blocks %}
  {% if article.seo.jsonLd %}
  <script type="application/ld+json">{{ article.seo.jsonLd | json | safe }}</script>
  {% endif %}
</article>
